{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ProjectPro 21</title>

    <meta name="description" content="ProjectPro 21">
    <meta name="author" content="Th-Dev">
    <link rel="icon" type="image.png" href="{% static 'img/favicon.png' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'base:home' %}">ProjectPro 21</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
  </div>
</nav>

  <div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<h2>
					Curso de Python
				</h2>
				<p>
                    Curso de Python do zero ao Profissional
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais informações sobre o instrutor
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/rosto_th.png' %}" alt="Foto de Thiago Sales" class="img-thumbnail float-left mr-2"/>
                                Thiago, é um profissional que atua na área de TI há 10 anos.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="main-footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <address>
                    +55 81 98130-4539
                    <br>
                    <a href="mailto:tmsales26@gmail.com">tmsales26@gmail.com</a>
                </address>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                {% now 'Y'%} Project Pro 21. Todos os direitos reservados.
            </div>
        </div>
    </div>


</footer>

  </body>
</html>